<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clientes | Autono+</title>
</head>
<body>

{% extends "base.html" %}
{% block title %}Clientes | Autono+{% endblock %}

{% block content %}
<h2>Clientes</h2>

<form method="post">
    <input name="nome" placeholder="Nome do cliente" required>
    <input name="telefone" placeholder="Telefone">
    <input name="observacao" placeholder="Observação">
    <button>Adicionar cliente</button>
</form>

<table>
    <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Observação</th>
        <th>Ações</th>
    </tr>
    {% for c in clientes %}
    <tr>
        <td>{{ c.nome }}</td>
        <td>{{ c.telefone }}</td>
        <td>{{ c.observacao }}</td>
        <a class="btn" href="/clientes/editar/{{ c.id }}">Editar</a>
        <td>
    </tr>
    {% endfor %}
</table>
{% endblock %}


    <br>
    <a href="/dashboard">Voltar</a>
</body>
</html>
